#form{
    padding: 0em 0em 3em 0;
}
#submit{
    float:left;
}
#next{
    float:right;
}
#mail{
    border: solid 1px rgba(255, 255, 255, 0.5);
}
.error{
    color:maroon;
    display:none;
}
.success{
    display:none;
    color:#9dc66b;
}